codigo_matlab/codigo_fuente/signals_LDS/SANOS/
codigo_matlab/codigo_fuente/signals_LDS/TEC/
codigo_matlab/codigo_fuente/LDS/
codigo_matlab/codigo_fuente/Estructuras_SANOS_TEC/
codigo_matlab/codigo_fuente/signals_LDS_steps/SANOS/
codigo_matlab/codigo_fuente/signals_LDS_steps/TEC/